/* src/styles/globals.css */


html, body {
  height: 100%; /* Garante que a altura do body ocupe toda a tela */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo específico para o texto */
.fonte {
  font-family: sans-serif;  /* Aplica a fonte ao texto */
  font-weight: 100; /* Usa o peso mais fino da fonte */
  font-size: 18px;  /* Tamanho do texto */
  line-height: 1.6; /* Espaçamento entre as linhas */
}

.horario{
  text-align: center;
  font-size: 28px;
}

/* O conteúdo principal deve ocupar toda a tela */
div {
  min-height: 100%; /* Garante que o conteúdo ocupe a altura da tela */
  box-sizing: border-box;
}

button {
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  /* Esconde a sinopse, data e direção no modo mobile */
  .hide-on-mobile {
    display: none;
  }

  /* Centraliza a grade de assentos no modo mobile */
  .center-seats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
}